.bicicleta-page{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
    padding: 16px;
    background: rgba(255,255,255,0.02);
}

.bicicleta-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #000;
    border: 1px solid rgba(0,0,0,0.06);
}

.bicicleta-table td {
    padding: 8px 12px;
}

.bicicleta-table th {
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bicicleta-table thead {
  background-color: rgba(0, 0, 0, 0.1);
}

.button-registrar-bicicleta{
    background-color: #066380; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.button-reIngresar-bicicleta{
    background-color: #28a745; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.title-register-bicicleta{
    color: #000000;
    margin-bottom: 20px;
    font-size: 24px;
}

.title-listar-bicicletas{
    color: #000000;
    margin-bottom: 20px;
    font-size: 24px;
}